{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
  <h1>{{ movie.name }}</h1>
  <h2>Director</h2>
  <p>{{ movie.director }}</p>
  <h3>Movie Length</h3>
  <p>{{ movie.length }} min</p>
  <h3>Rating</h3>
  <p>{{ movie.score }}</p>



</main>
{% endblock %}