{% extends "layout.njk"%}

{% block content %}
<main class="wrapper">
    <h1>Ny recension</h1>
    <form class="form" method="post" action="/recensionform">
        <input type="text"  id="movie" name="movie">
        <textarea class^="form" name="description" id="description" cols="30" rows="10"></textarea>
        <input type="submit">Skapa recension</input>
    </form>
</main>
{% endblock %}